<section class = "{{viewClass}}">
    <div class="inner" >
		<div class = "grid large-grid">
            <a class="grid-item icon-style icon-favorites icon-products" href="index.html#/favorite-view/products/">
				<span>Products</span>
			</a>
            <a class="grid-item icon-style icon-favorites icon-recipes" ng-href="index.html#/favorite-view/recipes/">
				<span>Recipes</span>
			</a>
            <!--
		    <div ng-bind-html-unsafe="params.productfavorites"></div>
            <p></p>
            <div ng-bind-html-unsafe="params.recipefavorites"></div>
             -->
		</div>
    </div>
</section>

