<section class="{{viewClass}}">
  <div class="inner" ng-hide="landing">
    <div class="divider" id="img_container">
      <img src="img/fairway_logo.png" alt="Fairway Image" />
      <h3>Welcome to the Fairway Market App! Products, Recipes, Exclusive Offers, &amp; So Much More</h3>
    </div>
    <div class="divider" id="view_agreement_container">
      <p id="before_info">
        Before using the Fairway Market app, we need to make sure you’ve read our Privacy Statement and Terms &amp; Conditions.
      </p>
      <div id="agreement_box">
        <a class="button long-button" href="index.html#/legal/230/">
          View Agreement
          <img src="img/more_arrow.png" class="more_arrow" />
        </a>
      </div>
      <p id="after_info">
        Once you’ve read the statements and agree to them, tap the “I Accept” button below.
      </p>
    </div>
    <div class="divider">
      <p>
        By tapping on “I Accept” below, you confirm that you accept the Privacy Statement and Terms &amp; Conditions.
      </p>
      <a class="button long-button" href="index.html#/initial-app-settings/first" id="accept_button">I Accept</a>
    </div>
    <div class="divider" id="note_container">
      <p id="info_note">
        NOTE: Our Privacy Statement and Terms &amp; Conditions can always be viewed from the “About this App” button on the app main menu. 
      </p>
    </div>
  </div>
</section>