<section class = "{{viewClass}}">
  <div class="inner">
      <div>
        <div id="rew_name">{{params.Name}}</div>
        <div id="rew_barcode" ng-show="ImagePathBarCode"><img src="{{ImagePathBarCode}}"/></div>
        <div id="rew_present" ng-show="ImagePathBarCode">Present this barcode to the Fairway cashier at  checkout to redeem your offer(s).</div>       
        <div id="rew_desc" ng-bind-html-unsafe="params.Description"></div>
        <div id="rew_expdate">This Offer Expires: {{ params.ExpireDate | date: 'MM/dd/yyyy' }}</div>
      </div>
</section>
