<section>
    <!-- <div id="dbtest">
        
        <input type ="button" id="create" value="create table" />
        <input type ="button" id="insert" value="insert table" />
        <input type ="button" id="read" value="read table" />
        
    </div>  -->

    <div class="both-lists">
        <div id="active_shopping_list" class="active-list"></div>
        <div id="inactive_shopping_list" class="inactive-list"></div>
    </div>
    <div id="shopping_list_addedit_view">
        <div class="shoppingListAddViewTop">
            <span class="shoppingListAddEditViewTitle"></span>
            <span id="shopping_list_done_aff">DONE</span>
            <span id="shopping_list_cancel_aff">CANCEL</span>
        </div>
        <div class="shoppingListAddFieldContainer">
            <input id="shopping_list_addedit_field" type="text"></iput>
        </div>
    </div>
    <!-- <div id="shopping_list_edit_view_footer">
        <div id="delete_checked_items">Remove Checked Items</div>
        <div id="delete_entire_list">Remove Entire List</div>
    </div> -->

    <!-- show if list is empty -->
    <div class="no_data_message">
        <span>There are no items in your shopping list</span>
    </div>
</section>

<script src="js/shopping-list.js"></script>
