/*
--------------------------------------------------
Product
--------------------------------------------------
*/
/* line 6, ../sass/_product.scss */
section.detailView.product .blur {
  -webkit-filter: blur(3px);
}

/* line 10, ../sass/_product.scss */
section.detailView.product .detailSection {
  margin-top: 320px;
}

/* line 14, ../sass/_product.scss */
section.detailView.product .divider {
  border-bottom: 1px solid #fad214;
  padding-bottom: 10px;
}

/* line 18, ../sass/_product.scss */
section.detailView.product .dept {
  color: white;
  font-size: 15px;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}
